@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.9rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
}

h6 {
    color: #d8d8d8;
}

/*navigation*/

.nav{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-top: 30px !important;
}

.logo{
    height: 40px;
}

.navbar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 10px 6% !important;
    height: 100px !important;
    margin-top: 5px !important; 
}

.navbar div{
    text-align: center !important;
    justify-content: flex-end;
}

.navbar-nav{
    justify-content: center !important;

}

.navbar-light .navbar-nav .nav-link {
    padding: 0 20px !important;
    color: #000;
    transition: 0.4s ease;
}

.navbar-link .navbar-nav .nav-link:hover,
.navbar-link .navbar-nav .nav-link.active {
    color: coral !important;
}

.nav-item{
    font-weight: 400;
}

.collapse{
    display: flex;
    justify-content: flex-end;
}

/* Adjust spacing for smaller screens */
@media (max-width: 768px) {
    .navbar .container {
        flex-wrap: wrap;
    }

    .navbar .navbar-toggler {
        order: 1;
        /* Move the toggle button to the left for small screens */
    }

    .navbar .navbar-collapse {
        order: 2;
        /* Move the menu to the right for small screens */
    }
}





/*------------Banner--------------*/
#Banner {
    background-color: #FDEFEF;
    /* Change background color to #EB4242 */
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding-bottom: 7%;
}

#Banner .row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.hero-description {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 30px;
}

.hero-button {
    background-color: #EB4242;
    color: #ffffff;
    padding: 12px 24px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bolder;
}

.hero-button:hover {
    background-color: #d60a0a;
    color: #ffffff;
}


.img-fluid {
    max-width: 100%;
}

#Banner span {
    color: coral;
}


/* New Arrival */
.product-slider {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 90%;
    margin: auto;
    margin: 40px auto;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-slider-heading {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif !important;
    color: #313131;
}

.product-box {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    position: relative;
}

.product-img-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}

.product-img a,
.product-img {
    width: 100%;
    height: 300px;
    display: flex;
}

.product-img a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    animation: fade 0.6s;
}

.product-img-back {
    display: none;
}

.product-img-container:hover .product-img-back {
    display: block;
}

.product-img-container:hover .product-img-front {
    display: none;
}
.cart_button_product{
    text-decoration: none;
    border: none;
}
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.product-box-offer {
    position: absolute;
    left: 30px;
    top: 20px;
    width: 65px;
    height: 24px;
    color: #ffffff;
    background-color: #e63b3b;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    letter-spacing: 1px;
    transition: none !important;
    animation: none;
    z-index: 100;
    font-family: 'Open Sans', sans-serif;
}

.product-box-text {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
}

.product-title {
    color: #333333;
    font-weight: 600;
    transition: all ease 0.3s;
    text-decoration: none;
}

.product-title:hover {
    opacity: 0.7;
    transition: all ease 0.3s;
}

.product-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color: #ff25257c;
}

.product-category span {
    color: #acacac;
    font-size: 0.9rem;
    margin: 5px 0px;
}

.price-buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.price-buy .p-price {
    font-size: 1.3rem;
    color: #333333;
    font-weight: 700;
}

.price-buy .p-buy-btn {
    color: #e63b3b;
    margin: 0px 5px;
    font-weight: 500;
    text-decoration: none;
}

.price-buy .p-buy-btn:hover {
    text-decoration: underline;
}

.slider-btns {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 10px auto 10px auto;
}

.swiper-button-next,
.swiper-button-prev {
    position: static !important;
    transform: translate(0, 0);
    margin: 10px 0px 0px 10px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px !important;
    font-weight: 800;
    color: #111111;
}

@media(max-width:500px) {
    .product-slider-heading {
        text-align: center;
        font-size: 1.3rem;
    }

    .product-slider {
        width: 100%;
    }

    .product-img a,
    .product-img {
        height: 230px;
    }

    .product-img a img {
        animation: none;
    }

    .product-img-back {
        display: none;
    }

    .product-img-container:hover .product-img-back {
        display: none;
    }

    .product-img-container:hover .product-img-front {
        display: block;
    }
}

@media(max-width:400px) {

    .product-img a,
    .product-img {
        height: 190px;
    }

    .product-box-offer {
        top: 10px;
        left: 20px;
    }

}

.product-btn {
    background-color: #EB4242;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.product-btn:hover {
    background-color: #d60a0a;
}





/* About Us and Services */

.about-us {
    background-color: #ebebeb;
}

.about-us-section,
.service-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-content,
.service-content {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 330px;
}

.about-content:hover,
.service-content:hover {
    transform: translateY(-5px);
}

.section-title {
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    margin-bottom: 15px;
}

.section-description,
.service-item p {
    color: #555;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.icon {
    color: #ff25257c;
    font-size: 24px;
    margin-right: 10px;
}




/* Product */
#new .one img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#new .one {
    position: relative;
}

#new .one .details {
    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.6;
    background-color: rgb(1, 1, 1);
    width: 100%;
    height: 100%;
}

#new .one .details:hover {
    background-color: cornsilk;
}

#new .one:nth-child(1) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

#new .one:nth-child(2) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

/*Product*/
.product {
    cursor: pointer;

}

.product img {
    transition: 0.3s all;
}

.product:hover img {
    opacity: 0.7;
}

/*banner-product*/
.banner_product {
    background-image: url('../images/web images/slideshowV3-bg1.webp');
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

.overlay {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    height: 30px;
    z-index: 2;
    justify-content: center;
    padding-top: 30px;
}

.banner_product h1 {
    font-size: 20rem;
    color: rgba(255, 141, 141, 1);
}

/*footer*/
.footer {
    background-color: black;
    color: white;
    padding: 50px;
}

.footer ul {
    padding-left: 0;
}

.footer li {
    padding: 0;
    margin: 0 0 25px 0;
    list-style: none;
    display: block;
    text-transform: uppercase;
    font-size: 13px;

}

.footer li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

/*single-product-page*/
.small-img-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 25%;
    cursor: pointer;
    padding: 10px;
}

.small-img {
    cursor: pointer;
}

.singleproduct input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.singleproduct input:focus {
    outline: none;
}

.singleproduct .buy-btn {
    padding: 5px 40px;
    background-color: grey;
    opacity: 1;
    transition: 0.4s all;
}

.singleproduct .buy-btn:hover {
    background-color: black;
}

utility .btn {
    padding: 20;
    border-color: black;
    border-radius: 20px;
    color: #d8d8d8;
}

.btn .btn:hover {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

}

.rotate_image {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(4-5deg);
}

#brand {
    padding: 10px 0;
    background-color: #ffff;
}

.Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.product-card {
    background-color: #fff;
    width: 20%;
    /* Adjusted width for responsiveness */
    height: 300px;
    /* Increased height for more content */
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.02);
}

.pheading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #EB4242;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-status {
    font-weight: bold;
}

.product-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    height: 30px;
}

.card-img-top {
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
}

.product-model {
    font-size: 10.5px;
    text-transform: uppercase;
    color: #acacac;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    color: #EB4242;
}



/*cart*/

.cart table {
    width: 100%;
    border-collapse: collapse;

}

.cart .product-info {
    display: flex;
    flex-wrap: wrap;
}

.cart th {
    text-align: left;

    padding: 5px 10px;
    color: #d8d8d8;
    background-color: rgb(28, 1, 51);
}

.cart td {
    padding: 10px 20px;
    color: rgb(28, 1, 51);


}

.cart td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}


.remove-btn {
    color: rgb(28, 1, 51);
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    border: none;
    width: 100%;

}

.cart .edit-btn {
    color: rgb(28, 1, 51);
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    border: none;
    width: 100%;
}

.cart .product-info p {
    margin: 3px;
}

.cart td input {
    width: 70px;

}

.cart-total {
    display: flex;
    justify-content: flex-end;
}

.cart-total table {
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #000;
}

td:last-child {
    text-align: right;

}

th:first-child {
    text-align: rights;
}

.checkout-container {
    display: flex;
    justify-content: flex-end;
}

.checkout-btn {

    color: #d8d8d8;
    background-color: black;
}

/* Checkout */
#checkout-form .checkout-small-elements {
    display: inline-block;
    width: 48%;
    margin: 10px auto;
}

#checkout-form .checkout-large-elements {
    width: 96%;
}

#checkout-form .checkout-btn-container {
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}

#checkout-form #checkout-btn {
    color: #FDEFEF;
    background-color: #000;
}


#contact span {
    color: #00563e;
    font-weight: bold;
}



#product-partener {
    background-color: #ebebeb;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#product-partener h3 {
    color: #000000;
    font-size: 24px;
    font-kerning: normal;
    height: 50px;
    margin-bottom: 20px;
}

#product-partener .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

#product-partener .logos img {
    width: 100px;
    height: auto;
}


/*Contact Us*/

/* Apply styles to custom-form class */
.custom-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Apply styles to custom-label class */
.custom-label {
    font-weight: bold;
    font-size: 18px;
    color: #007bff;
}

/* Apply styles to custom-input class */
.custom-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
}

/* Apply styles to custom-textarea class */
.custom-textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
}

/* Apply styles to custom-button class */
.custom-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
}

.custom-button:hover {
    background-color: #0056b3;
}